body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  height: 100vh;
}

input {
  font-family: "Montserrat", "Open Sans", sans-serif;
  background-color: transparent;
  outline: none;
  border-width: 0;
  border-bottom: 1px solid #aaa;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}